
#header{
	width: 100%;
	min-height: 100vh;
	background-image: url('img/banner1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

